# My predictions for the Titanic Dataset

In [14]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

Let's load the data.

In [15]:
df = pd.read_csv("train.csv")
print(df.shape[0])

891

An other importang step is to change the values of important rows to numbers, because the algorithm we are going to use can't work with "male" or "femal", but it's able to work with 0 or 1, so let's use this.

In [17]:
print(df.shape[0])
for i in range(df.shape[0]):
    if(df.at[i, "Sex"]=="female"):
        df.at[i, "Sex"] = 1
    elif(df.at[i, "Sex"] == "male"):
        df.at[i, "Sex"] = 0
print(df)

891
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris   0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  38.0      1
2                               Heikkinen, Miss. Laina   1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  35.0      1
4                             Allen, Mr. William Henry   0  35.0      0
..                                                 ...  ..   ...    ...
886                              Montvila, Rev. Juozas   0  27.0      0
887                       Graham, Miss. Margaret Edith   1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"   1   NaN      1
889                              Behr, Mr. Karl Howell   0  26.0      0
890                                Dooley, Mr. Patrick   0  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

An other problem is the size of the value age, it is much taller than the other values we are going to use (Pclass and Sex seem to be important). So let's change it by dividing through the largest age und the largest class (then every value will be between 0 and 1).

In [18]:
for i in range(df.shape[0]):
    df.at[i, "Pclass"]/=max(df["Pclass"])
    df.at[i, "Age"]/=max(df["Age"])
print(df)

     PassengerId  Survived    Pclass  \
0              1         0  1.000000
1              2         1  0.333333
2              3         1  1.000000
3              4         1  0.333333
4              5         0  1.000000
..           ...       ...       ...
886          887         0  0.666667
887          888         1  0.333333
888          889         0  1.000000
889          890         1  0.333333
890          891         0  1.000000

                                                  Name Sex      Age  SibSp  \
0                              Braund, Mr. Owen Harris   0  0.27500      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  0.47500      1
2                               Heikkinen, Miss. Laina   1  0.32500      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  0.43750      1
4                             Allen, Mr. William Henry   0  0.43750      0
..                                                 ...  ..      ...    ...
886                              Montvila, Rev. Juozas   0  0.84375      0
887                       Graham, Miss. Margaret Edith   1  0.59375      0
888           Johnston, Miss. Catherine Helen "Carrie"   1      NaN      1
889                              Behr, Mr. Karl Howell   0  0.81250      0
890                                Dooley, Mr. Patrick   0  1.00000      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

There are some rows where values are missing. There are multiple ways to handle this, but I decided to remove them, because it's a simple solution and I don't think the data is that important, although you could argue the probability that we don't know the age of a poor person is higher and so it changes the outcome of the dataset.

In [19]:
df = df.dropna()

Now we try to use Linear Regression to find a good model for the date to predict who survived and who lost his/her life.

In [21]:
X = df[["Pclass", "Age", "Sex"]]
y = df["Survived"]
print(X)
print("---------------------------------------------------------------------")
print(y)

       Pclass       Age Sex
1    0.333333  0.475000   1
3    0.333333  0.437500   1
6    0.333333  0.675000   0
10   1.000000  0.050000   1
11   0.333333  0.725000   1
..        ...       ...  ..
871  0.333333  0.839286   1
872  0.333333  0.589286   0
879  0.333333  1.000000   1
887  0.333333  0.593750   1
889  0.333333  0.812500   0

[183 rows x 3 columns]
---------------------------------------------------------------------
1      1
3      1
6      0
10     1
11     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 183, dtype: int64

In [26]:
model = LogisticRegression()

In [27]:
model.fit(X, y)

LogisticRegression()

Now we need data to check how well or model is actually performing. IMPORTANT!!! We need to change the data in the same way as we changed the original data!

In [40]:
test = pd.read_csv("test.csv")
print(test.shape[0])
for i in range(test.shape[0]):
    if(test.at[i, "Sex"]=="female"):
        test.at[i, "Sex"] = 1
    elif(test.at[i, "Sex"] == "male"):
        test.at[i, "Sex"] = 0
    test.at[i, "Pclass"]/=max(df["Pclass"])
    test.at[i, "Age"]/=max(df["Age"])
test = test.dropna()
X_test = test[["Pclass", "Age", "Sex"]]

418

In [39]:
model.predict(X_test)

array([1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1])

Normally I would need to compute the accuracy of the model, but because it's a kaggle competition, I don't have the needed data and we removed all rows where a value was missing so our dataset hasn't got the same size as the one from Kaggel, so I don't think it's possible to run a reasonable test. This project was for educational purposes only if you want to imporve it further here are some recommendations: Don't remove the NaN values. Instead repleace them. I am shure you are able to find a good way to do so.